/*--------------------------- dashboard -----------------------------*/

.dashboard {
    font: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0A4B6D;
    margin: 0px;
    background: #FAFDFF;
}

.dashboard-item-1 {
    height: 113px;
    width: 100%;
    align-items: stretch;
    background-color:#FAFDFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-item-1 span {
    margin-left: 100px;
    font-size: 21px;
    font-weight: bold;
}

.create-order-button {
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-align: center;
    color: white;
    border: 1px solid #31BCE9;
    background-color: #31BCE9;
    border-radius: 24px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    margin-right: 120px;
}

.dashboard-item-2 {
    width: 100%;
    background-color: #FAFDFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.header-mobile {
    display: none;
}

.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.employees-17 {
    display: flex;
    flex-direction: column;
    border: 1px solid#A5C9FF;
    border-radius: 7px;
    background: white;
    margin-left: 100px;
    margin-right: 40px;
}

.skills {
    display: flex;
    flex-direction: column;
    border: 1px solid#A5C9FF;
    border-radius: 7px;
    background: white;
    margin-bottom: 20px;
    padding: 20px
}

.salary {
    display: flex;
    flex-direction: column;
    border: 1px solid#A5C9FF;
    border-radius: 7px;
    background: white;
    margin-top: 40px;
    padding: 20px
}
.skills-salary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 100px;
    background: #FAFDFF;
}

.date-and-settings {
    display: flex;
    justify-content: right;
    align-items: center;
}

.row-employees-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.mobile-row-employees-skills {
    display: none;
}

.add-new {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
}

.progress {
    width: 100%;
    border-radius: 3px;
    background: #dae2e3;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#percent-java, #percent-php, #percent-c, #percent-python {
    padding-left: 20px;
    border-radius: 3px;
    height: 100%;
    color: white;
}

#percent-java {
    background: #5773FF;
    width: 50%;
}

#percent-php {
    background: #3497FD;
    width: 70%;
}

#percent-c {
    background: #31BCE9;
    width: 50%;
}

#percent-python {
    background: #3ACCE1;
    width: 43%;
}

.dot-java, .dot-php, .dot-c, .dot-python {
    height: 14px;
    width: 14px;
    background-color: #5773FF;
    display: inline-block;
    margin: 10px;
}

.dot-java {
    margin-left: 0px;
}
.dot-php {
    background-color: #3497FD;
}

.dot-c {
    background-color: #31BCE9;
}

.dot-python {
    background-color: #3ACCE1;
}

.dot {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dae2e3;
    margin-top: 5px;

}

.dot div {
    display: flex;
    align-items: center;
}

.average-salary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.green-percent {
    font-size: 12px;
    font-weight: bold;
    color: #22A76C;
}

.red-percent {
    font-size: 12px;
    font-weight: bold;
    color: #ffbfc8;
}

#green-arrow {
    border: solid #AAFFBE;
    border-radius: 50%;
    background: #AAFFBE;
}

#red-arrow {
    border: solid #ffbfc8;
    border-radius: 50%;
    background: #ffbfc8;
}

#program-name {
    width: 80px;
}

.row-program-knowledge-salary {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #e9f5f7;
    padding: 5px;
}

.appearance {
    font-size: 10px;
    color: #ede8ea;
}

.filter {
    display: flex;
    flex-direction: row;
    border-top: 1px solid#A5C9FF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-weight: bold;
    background: white;
    
}

.row-employee {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #A5C9FF;
    padding: 10px 5px;
}

* {
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.checkbox-container label {
    cursor: pointer;
    display: flex;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    border: .03em solid #A5C9FF;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
    background-color: #A5C9FF;
}


.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled {
    color: #A5C9FF;
    cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: #A5C9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
    background-color: #A5C9FF;
    border-color: #A5C9FF;
}

.name-employee {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 250px;
}

.name-employee img {
    margin-left: 5px;
    margin-right: 5px;
}

.col-dotted-button img {
    width: 15px;
    margin: 0px 10px 0px 0px;
}

.short-text { 
    display: none; 
}

.col-name, .col-email, .col-title, .col-date, .col-dundies {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-date {
    margin-left: 30px;
}

.col-dundies {
    margin-left: 30px;
}

.col-name {
    width: 250px;
}

.col-email {
    width: 180px;
}

.col-title {
    width: 180px;
}

.col-title-regional-manager {
    border: 1px solid #AAFFBE;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #AAFFBE;
}

.col-title-assistant-regional-manager {
    border: 1px solid #D1EEFF;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #D1EEFF;
}

.col-title-office-administrator {
    border: 1px solid #FFD9D1;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #FFD9D1;
}

.col-title-salesman {
    border: 1px solid #FFEFCA;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #FFEFCA;
}

.col-title-accountant {
    border: 1px solid #EFE7FF;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #EFE7FF;
}

.col-title-supplier-relations {
    border: 1px solid #EAFBFF;
    padding: 9px 24px 9px 24px;
    border-radius: 7px; 
    background-color: #EAFBFF;
}

.col-date {
    width: 130px;
}

.col-dundies {
    width: 90px;
}

.employees-manage {
    font-weight: bold;
    padding: 10px;
    background: white;

}

.employees-manage span {
    margin-right: 30px;
}

.add-new-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    padding: 7px;
}

.add-new {
    margin-right: 5px;
    color: #174A84;
    border: 1px solid #174A84;
    border-radius: 7px;
    padding: 7px 20px 7px 20px;
    height: 24px;
}

.row-employees-17 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}